<h2>Ваш заказ:</h2>
<div id="cart">
<div class="bs-example" data-example-id="contextual-table">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Пицца</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Сумма</th>
        </tr>
      </thead>
      <tbody>
        <% num = 0; total_pice = 0; total_count = 0; @results.each do |row| %>
        <% num = num + 1; %>
          <tr>
            <th scope="row"><%= num %></th>
              <td><%= row[:name] %></td>
              <td><%= row[:cnt]    %></td>
              <td><%= row[:price]    %></td>
              <td><%= row[:price] * row[:cnt] %></td>
              <% total_pice += row[:price] * row[:cnt] %>
              <% total_count += row[:cnt] %>
          </tr>
        <% end %>

        <tr>
          <th></th>
            <td>Всего пицц: </td>
            <td><b><%= total_count %></b></td>
            <td>На сумму: </td>
            <td><b><%= total_pice %></b></td>
        </tr>
      </tbody>
    </table>
</div>
<form action="/submit_cart" method="post">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name = "order[username]" type="text" class="form-control" placeholder="Введите ваше имя" value = "<%= @new_order.username %>">
  </div>
  <div class="form-group">
    <label>Ваш телефон</label>
    <input id = "phone" name = "order[phone]" type="text" class="form-control" placeholder="+375 (99) 999-99-99" value = "<%= @new_order.phone %>">
  </div>
  <div class="form-group">
    <label>Адрес доставки</label>
    <textarea name = "order[adres]" type="text" class="form-control" placeholder="Введите адрес доставки"><%= @new_order.adres %></textarea>
  </div>
	<input id="orders_input" name="order[orders]" type="hidden" value=<%= @pizzas %> />
	<input id="orders_submit" type="submit" class="btn btn-success btn-lg" onclick="return true;" value="Заказать" />
  <input id="orders_cancel" type="submit" class="btn btn-danger btn-lg" onclick="return cancel_order();" value="Отмена" />
</form>
</div>

<script type="text/javascript">

$(function () {
    $("#phone").mask("+375 (99) 999-99-99");
    update_orders_button();
})

</script>
