<h2>Добро пожаловать в магазин пиццы!</h2>

<div class="row">

    <% @products.each do |p| %>
    <div class="col-md-3">
        <div>
            <%= p.title %>
        </div>
        <div>
            <img src="<%= p.path_to_image %>">
        </div>
        <div>
            <%= p.description %>
        </div>
        <div>
            Размер: <%= p.size %> см
        </div>
        <div>
            Цена: <%= p.price %> рублей
        </div>
        <div>
            <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Добавить в заказ!</button>
        </div>
    </div>
    <% end %>

</div>

<script type="text/javascript">

$(function () {
    update_orders_input();
    update_orders_button();
})

</script>